<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="formContainer">
        <form method="POST" action="/new" class="msgForm">
            <label for="messageName">User: <br>
                <input type="text" name="messageName" id="messageName">
            </label>
            <label for="message">Message: <br>
                <textarea type="text" name="messageText" id="messageText"></textarea>
            </label>
            <div class="buttons">
                <a href="/"><button type='button'>Back</button></a>
                <button type='submit'>Submit</button>
            </div>
        </form>

    </div>
</body>

</html>