<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <% messages.forEach((message)=> { %>
    <h2>
      <%= message.user %>
    </h2>
    <p class="msgText">
      <%= message.text %>
    </p>
    <p class="msgDate">
      <%= message.added %>
    </p>
    <% }); %>
</body>

</html>